body {
  background-color: #fdc1a5;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embed {
  margin: 30px;
}

.card {
  background-color: white;
  margin: 30px O;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 3px;
}

.btn {
  display: block;
  color: #98483d;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #fabfa3;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #fef1eb;
}

header {
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 25px;
  max-width: 1400px;
  height: 400px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  color: #fdc1a5;
  font-weight: 630;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 20px;
}

header h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #737f5b;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  color: #fdc1a5;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 5px;
  color: #737f5b;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #98483d;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  color: #737f5b;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #737f5b;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737f5b;
}

footer {
  background-image: linear-gradient(
      rgba(115, 127, 91, 0.8),
      rgba(115, 127, 91, 0.8)
    ),
    url("../images/img-footer\ orange.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h3 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fabfa3;
  opacity: 0.7;
  font-weight: bold;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
    max-width: 800px;
    height: 300px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
    color: #fddacc;
  }
  footer {
    padding: 60px 0;
    max-width: 800px;
    padding-bottom: 15px;
  }

  section {
    padding-left: 15px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
